<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Bitter:wght@800&family=Titan+One&display=swap" rel="stylesheet">
    <script defer src="../public/index.js"></script>
    <title>CodeConnect</title>
</head>

<body>
    <div class="container">
        <div class="heading">
            <h2>CODEsPACE</h2>
        </div>
        <div class="content">
            <h1 class="content-heading" style="font-family: 'Bitter', serif; font-size: 5em">Pair Programming for Interviews</h1>
            <p class="content-para"> <SPAN style="font-family: 'Titan One', cursive; font-weight: 1em; ">CODEsPACE</SPAN> lets you conduct <span style="color: #6b949c;"><b>hassle-free</b></span> technical interviews in a  <span style="color: #6b949c;"><b>real-time</b></span>
                shared collaborative coding
                environment.  </p> 
        </div>
        <div class="button-div">
            <button type="button" id="newbtn" class="btn btn-secondary btn-lg button" style="color: black ; background-color: #7da2a9;" >Start New Meeting</button>
            <button type="button" id="joinroom" class="btn btn-secondary btn-lg button"  style="color: #7da2a9 ; background-color: black;">Join Existing room</button>
        </div>

        <div class="bg-modal-menu">
            <div class="model-content-menu">
                <div class="close-menu" style="color: red">+</div>
                <div class="appdrawer-heading" style="color:#7da2a9">New Meeting</div>
                <form autocomplete="off" action="/room" method="GET">
                    <div class="form-group">
                        <label for="formGroupExampleInput" style="color: white;">Enter Your Name</label>
                        <input name="name" type="text" class="form-control" id="formGroupExampleInput"
                            placeholder="Name">
                    </div>
                    <button type="submit" class="btn btn-secondary btn-lg" style="background-color:black ;color:white">Start New Meeting</button>
                </form>
            </div>
        </div>


        <div class="bg-modal-menu-2">
            <div class="model-content-menu">
                <div class="close-menu-2" style="color:red">+</div>
                <div class="appdrawer-heading" style="color:#7da2a9">Existing Room</div>
                <form autocomplete="off" action="/room" method="GET">
                    <div class="form-group">
                        <label for="formGroupExampleInput" style="color: white;">Enter Your Name</label>
                        <input name="name" type="text" class="form-control" id="formGroupExampleInput"
                            placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput" style="color: white;">Enter Room ID</label>
                        <input name="roomid" type="text" class="form-control" id="formGroupExampleInput"
                            placeholder="Room ID">
                    </div>
                    <button type="submit" class="btn btn-secondary btn-lg" style="background-color:black ;color:white">Join Room</button>
                </form>
            </div>
        </div>
        
    </div>
    <br><br><br>
    <div class="footer">
        &copy 2021 CODEsPACE
    </div>
    
</body>

</html>